.mail-div {
  background: #354a5f;
  width: 230px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail {
  position: absolute;
  fill: none;
  stroke-width: 2px;
  stroke: #fff;
  stroke-linecap: square;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

@keyframes undraw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shrink {
  0% {
    width: 150px;
  }
  50% {
    width: 150px;
  }
  70% {
    width: 35px;
    color: transparent;
  }
  90% {
    transform: scale(1);
    background: #1abc9c;
  }
  95% {
    width: 35px;
    color: transparent;
    transform: scale(0);
    background: #ecf0f1;
  }
  100% {
    width: 150px;
    color: #6f7d89;
    background: #ecf0f1;
  }
}

@keyframes shrink-div {
  0% {
    width: 230px;
  }
  85% {
    width: 230px;
  }
  90% {
    width: 250px;
    box-shadow: 0 0 0 0px #2c3e50, 0 0 0 0px #354a5f;
  }
  99% {
    box-shadow: 0 0 0 25px #2c3e50, 0 0 0 30px #354a5f;
  }
  100% {
    width: 0px;
  }
}

@keyframes fly {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(-20px, 10px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(200px, -100px) scale(0.5);
    opacity: 0;
  }
}
